// .brown {
// 	background-color: #212121;
// 	color: white;
// }
//
// .white {
// 	background-color: #D3D3D3;
// 	color: #212121;
// }

// .something {
// 	padding-top: 100px;
// }

.flex-enable {
	display: flex;
}

.header-box {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-width: 800px;
}

.grid-item {
	width: 33%;
	padding: 20px;
}

.p-text {
	margin-bottom: 30px;
	text-align: center;
}

.in-lithuanian {
	padding: 0;
}

///////////////////// burger ///////////////////////////////////////////////////

.menu.active {
	left: 0;
	overflow: auto;
}

/////////////////// tags ///////////////////////////////////////////////////////

li {
	font-weight: 700;
}

a {
	color: white;
	text-decoration: none;
}

h2 {
	text-align: center;
	padding-top: 30px;
}

/////////////////////////// cv and photo ///////////////////////////////////////

.cv-foto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.art-heading {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

//////////////////////////// transition ////////////////////////////////////////

body {
	opacity: 1;
	transition: 1s opacity;
}

body.fade-out {
	opacity: 0;
	transition: none;
}

// .cv-foto.scrolled {
// 	#cv-burger i {
// 		color: green;
// 		transition: background-color 200ms linear;
// 	}
// }
